<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container px-4 px-lg-5">
              <a class="navbar-brand" href="/">Sport Predictions Project</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-20">
                      <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Subscriptions</a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url 'predictions' %}">Predictions</a></li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sport</a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><hr class="dropdown-divider" /></li>
                              <li><a class="dropdown-item" href="{% url 'players' %}">Players</a></li>
                              <li><a class="dropdown-item" href="{% url 'matches' %}">Matches</a></li>
                          </ul>
                      </li>
                      {% if request.user.is_superuser  %}
                      <li class="nav-item"><a class="nav-link" href="{% url 'analysis' %}">Analysis</a></li>
                      {% endif %}
                  </ul>
                {% if request.user.is_authenticated %} 
                  <a class="navbar-brand">
                      Your current prediction amount:  {{user.predictions}}
                  </a>
                  <a class="navbar-brand">
                        {{user.email}}
                  </a>
                  <form class="navbar-brand" action = "{% url 'logout' %}" method = "post">
                    {% csrf_token %}
                    <button class="btn btn-outline-dark" type="submit">
                          Logout
                    </button>
                  </form>
                {% else %}
              </ul  class="d-flex">
                <form class="navbar-brand" action = "{% url 'login' %}">
                  <button class="btn btn-outline-dark" type="submit">
                        login
                  </button>
                </form>
                <form class="navbar-brand" action = "{% url 'register' %}">
                  <button class="btn btn-outline-dark" type="submit">
                        register
                  </button>
                </form>
              </ul>
                {% endif %}
              </div>
          </div>
      </nav>
        <!-- Section-->
        <section class="py-5">  
          {% if isDisplay  %} 
          <h1 class="navbar-brand-center">The are matches connected to this player: {{ player.full_name }}</h1>
          <input class="my-form-control" type="text" placeholder="Search" id="search-text" onkeyup="tableSearch()">
          <div class="container px-4 px-lg-5 mt-5">
              <table class="table" id="info-table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Match Name</th>
                        <th scope="col">Match Desc</th>
                        <th scope="col">Match Date</th>
                        <th scope="col">First Player Full Name</th>
                        <th scope="col">Second Player Full Name</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for i in matches %}
                      <tr>
                        <td> {{ i.match_name }}</td>
                        <td> {{ i.match_desc }}</td>
                        <td> {{ i.match_date }}</td>
                        <td> {{ i.first_player_full_name }}</td>
                        <td> {{ i.second_player_full_name }}</td>
                        {% if user.predictions > 0 %} 
                          {% if i.is_predicted > 0 %} 
                            <td> Already predicted</td>
                          {% else %}
                            <td>
                              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'prediction_confirm' i.match_name %}">Predict</a></div>
                              </div>
                            </td>
                          {% endif %}
                        {% else %}
                        <td> You reach your prediction limit</td>
                        {% endif %}
                      </tr>
                    {% endfor %} 
                    </tbody>
                  </table>
            </div>
            {% else %}
            <h1 class="navbar-brand-center">This player: {{ player.full_name }} haven't current matches...</h1>
            {% endif %}
        </section>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script>
          function tableSearch() {
              var phrase = document.getElementById('search-text');
              var table = document.getElementById('info-table');
              var regPhrase = new RegExp(phrase.value, 'i');
              var flag = false;
              for (var i = 1; i < table.rows.length; i++) {
                  flag = false;
                  for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                      flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                      if (flag) break;
                  }
                  if (flag) {
                      table.rows[i].style.display = "";
                  } else {
                      table.rows[i].style.display = "none";
                  }

              }
          }
        </script>
        <!-- Core theme JS-->
    </body>
</html>